@use 'sass:color';

$main-bg: aliceblue;
$window-bg: ivory;
$bar-fg: snow;
$bar-bg: darkslategray;
$border: .125rem solid $bar-bg;
$code-fg: #3c526d;
$code-bg: #e3eaf2;

:root {
  min-height: 100dvh;
  background: $main-bg;
  scroll-behavior: smooth;
  accent-color: $bar-bg;
  font-family: 'Roboto Flex Variable', sans-serif;
}

::selection {
  color: $bar-fg;
  background: $bar-bg;
}

#root {
  gap: 1rem;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header {
  gap: .125rem;
  color: $bar-bg;
  display: inherit;
  font-weight: bold;
  user-select: none;
  align-items: center;
  flex-direction: column;
  
  & a {
    color: $bar-bg;
    font-style: italic;
    
    &:hover {
      color: color.adjust($bar-bg, $lightness: 16%);
    }
  }
}

main {
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  display: inherit;
  padding: 0 .5rem;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100%;
  display: inherit;
  max-width: 46rem;
  flex-direction: column;
  background: $window-bg;
  border-radius: .25rem;
  border: $border;

  & .title-bar {
    color: $bar-fg;
    padding: .625rem;
    font-weight: 600;
    user-select: none;
    background: $bar-bg;
  }
}

#editor {
  max-width: 23rem;

  & textarea {
    border: none;
    resize: vertical;
    padding: .625rem;
    min-height: 23rem;
    font-size: .875rem;
    scrollbar-width: thin;
    background: transparent;

    &:focus {
      outline: none;
    }
  }
}

figure {
  margin: 0;
  padding: .625rem;
  min-height: 23rem;

  & h1 {
    font-size: 2rem;
  }
}

code {
  color: $code-fg;
  padding: .5rem 1rem;
  background: $code-bg;
  border-radius: .25rem;
  font-family: 'Ubuntu Sans Mono Variable', monospace;
}

blockquote {
  margin: 0;
  padding: 1rem 2.5rem;
  border-left: $border;

  & p {
    margin: 0;
  }
}

table, th, td {
  border: $border;
  padding: .375rem .5rem;
  border-collapse: collapse;
}